<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>565813270953-j0k8it9rvmdbk3ifsi3tapbis1871c6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565813270953-j0k8it9rvmdbk3ifsi3tapbis1871c6g</string>
	<key>API_KEY</key>
	<string>AIzaSyCrKfbtMpozQwLYkKw0ZBC9yeuCsWcA0Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>565813270953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Coco</string>
	<key>PROJECT_ID</key>
	<string>coco-e6575</string>
	<key>STORAGE_BUCKET</key>
	<string>coco-e6575.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565813270953:ios:e3dd92d110e46cf9</string>
	<key>DATABASE_URL</key>
	<string>https://coco-e6575.firebaseio.com</string>
</dict>
</plist>